{ 
    "font": 
    {
        "version": "1.0",
  
        "fontname": "myfont_json",
        "fullname": "MyFont",
        "familyname": "MyFont",

        "copyright": "Copyright (C) 2012 by xxxxxxxx",

        "ascent": 1638, 
        "descent": 410
    },
    "glyphs": 
    [ 
        {
            "file": "add-contact-add-user",
            "code": 0xe001,
            "src": "entypo"
        },
        { 
            "file": "hash", 
            "from": 0x0024, 
            "code": 0x0023,
            "src": "iconic"
        },
        { 
            "file": "glyph2",
            "code": 0xf001,
            "src": "awesome"
        }

    ],
    "src_fonts": 
    {
        "iconic": "/absolute/path/to/iconic.ttf",
        "entypo": "/absolute/path/to/entypo.ttf",
        "awesome": "/absolute/path/to/fontawesome.ttf" 
    }
}
